.post {
    width: 100%;
    display: flex;
    background: $white;
    margin-bottom: 20px;
    break-inside: avoid;
    border-radius: 16px;
    flex-direction: column;
    box-shadow: $primary-shadow;
    transition: all 0.3s ease-in-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .image-container {
        .image,
        .placeholder-image {
            width: 100%;
            border-radius: 16px 16px 0 0;
        }

        .placeholder-image {
            height: 200px;
            transition: height 0.2s ease-in-out;
            animation: skeleton-loading 1s linear infinite alternate;

            &.hidden {
                height: 0px;
            }
        }
    }

    @keyframes skeleton-loading {
        0% {
            background-color: hsl(200, 20%, 80%);
        }
        100% {
            background-color: hsl(200, 20%, 95%);
        }
    }

    .content {
        padding: 8px;

        .title {
            font-size: 16px;
            margin-top: 16px;
            font-weight: bold;
        }

        .description {
            margin-top: 19px;
            font-size: 14px;
        }

        .likes {
            margin-top: 12px;
        }
    }
}
